.cards{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    gap: 4em;
    flex-wrap: wrap;
}

.card{
    width: 20rem !important;

}
.navbar-brand{
color: rgb(0, 0, 0);
font-size: 40px;
font-family: 'Smooch', cursive;
}
.nav-link{
    font-size: 20px;
    font-family: 'Smooch', cursive;
}
.cards img{
    width: auto;
    height: 300px;

}
.navbar{
    background-color: lightcoral;
}
